/*Container holding the image and the text */

* {
    margin: 0;
    font-family: 'Oswald', sans-serif;
}
.text-primary{
    color: #FD6E0A;
}
 /*  header start */

.banner{
    width: 215px;
    height: 800px;
    left: 230px;
    top: 0px;
}
.banner-title{
    position: absolute;
    width: 280px;
    height: 150;
    left: 650px;
    top: 170px;
    right: 210px;
    bottom: 430px;
    font-weight: 320px;
    font-size: 40px;
    line-height: 30 px;
    text-align: right;
    color:#151414;
}
.banner-description{
    position: absolute;
    width: 230px;
    top: 360px;
    left: 700px;
    bottom: 265px;
    right: 210px;
    font-size: 10px;
    line-height: 12px;
    text-align: right;
    color:#444343;
}
.button{
    position: absolute;
    width: 120px;
    height: 40px;
    font-size: 20px;
    left: 810px;
    top: 420px;
    background:#F15B22;
    border-radius: 5px;
    color: #FFFFFF;
}
/*  header ends */

/* main section */
.main{
    max-width: 1140px;
    margin: 0 auto; 
}
.contant{
    right: 300px;
    left: 20px;
    top: 40px;
}
.text-contant{
    position: absolute;
    top: 1060px;
    left: 620px;
    right: 160px;
    font-size: 40px;
    line-height: 35px;
    text-align: left;
}
.paragraph{
    position: absolute;
    top: 1160px;
    left: 620px;
    right: 160px;
    font-size: 13px;
    line-height: 20px;
    text-align: left;
}
.text-paragraph{
    position: absolute;
    top: 1260px;
    left: 620px;
    right: 160px;
    font-size: 15px;
    line-height: 25px;
    text-align: left;
}