/*Container holding the image and the text */

* {
    margin: 0;
    font-family: 'Oswald', sans-serif;
}
.text-primary{
    color: #FD6E0A;
}
 /*  header start */

.banner{
    width: 215px;
    height: 800px;
    left: 230px;
    top: 0px;
}
.banner-title{
    position: absolute;
    width: 280px;
    height: 150;
    left: 650px;
    top: 170px;
    right: 210px;
    bottom: 430px;
    font-weight: 320px;
    font-size: 40px;
    line-height: 30 px;
    text-align: right;
    color:#151414;
}
.banner-description{
    position: absolute;
    width: 230px;
    top: 360px;
    left: 700px;
    bottom: 265px;
    right: 210px;
    font-size: 10px;
    line-height: 12px;
    text-align: right;
    color:#444343;
}
.button{
    position: absolute;
    width: 120px;
    height: 40px;
    font-size: 20px;
    left: 810px;
    top: 420px;
    background:#F15B22;
    border-radius: 5px;
    color: #FFFFFF;
}
/*  header ends */

/* main section */
.img{
    right: 300px;
    left: 20px;
    top: 40px;

}
.contant{
    right: 300px;
    left: 20px;
    top: 40px;
}
.text-contant{
    position: absolute;
    top: 1080px;
    left: 620px;
    right: 160px;
    font-size: 40px;
    line-height: 35px;
    text-align: left;
}
.paragraph{
    position: absolute;
    top: 1180px;
    left: 620px;
    right: 160px;
    font-size: 13px;
    line-height: 20px;
    text-align: left;
}
.text-paragraph{
    position: absolute;
    top: 1280px;
    left: 620px;
    right: 160px;
    font-size: 13px;
    line-height: 25px;
    text-align: left;  
}
/* skill start */
.my-plans{
    margin-top: 120px;
    margin-left:120px;
    right: 0px;
    
}
.section-title{
    margin-top: 120px;
    margin-left: 320px;
    font-size: 45px;
    margin-bottom: 30px;
    font-weight: 700px;
}
.skills-container{
    display: flex;
    gap: 24px;
    margin-right: 220px;
    left: 320px;
    right:0px;
    top: 80px;
    bottom: 40px;

}
.skill{
    background:#FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}
.skill-title{
    font-weight: 700px;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    bottom: 10px;
}
.skill-descripiton{
    color: #757575;
}
/* skill ends */

.page-title{
    height: 200px;
    background-image: url('../gradient2.png'); background-image: url('../watch.png');
    margin-left: 100px;
    margin-right: 380px;
    margin-top: 80px;
}
.subpage-title{
    margin-left: 100px;
    margin-right: 380px;
    margin-top: -200px;
}
.tex{
    width: 220px;
    height: 8px;
    color:white;
    font-size: 20px;
    margin-left:160px;
    margin-top: -240px;
}
.bt-button{
    width: 90px;
    height: 35px;
    font-size: 20px;
    text-align: center;
    margin-left: 160px;
    margin-top:80px;
    margin-bottom: -100px;
    background:#FFFFFF;
    border-radius: 5px;
    color: #F15B22;
}
.form-fill{
    /* display: flex; */
    width:full;
    /* gap: 60px; */
    height: 300px;
    margin-left: 100px;
    margin-right: 30px;
    margin-top:230px;
    background-color:black;
    color:white;


} 
.form-title{
    
}